/**
 * stylus/mixins.styl - w3bp
 * A collection of simple mixins that are frequently
 * used on web pages.
 *
 * Licensed under MIT license.
 * Copyright (C) 2016 Karim Alibhai.
 */

middle()
    ^[0]
        display: table
    display: table-cell
    vertical-align: middle