doctype html
html(lang="en" ng-app="w3bp")
    head
        meta(charset="utf-8")
        title Your Web Page
        meta(name="viewport" content="width=device-width, initial-scale=1")
        base(href="/")

        link(rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="css/base.min.css")
        link(rel="stylesheet" href="css/index.min.css")
    body
        h1 Hello, world.
        h3 It's working!

        script(src="vendor/jquery/dist/jquery.min.js")
        script(src="vendor/bootstrap/dist/js/bootstrap.min.js")
        script(src="vendor/angular/angular.min.js")
        script(src="vendor/angular-route/angular-route.min.js")
        script(src="vendor/angular-animate/angular-animate.min.js")
        script(src="js/index.min.js")
